.font-card{
    font-size: 30px;
    border: 1px solid #9236b481;
    border-radius: 15px;
}
.container-total{ 
    background-color: rgba(29, 243, 6, 0.521);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    
    
    
}