.media-content{font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.card{
    background-color: tan;
}