*{font-family: 'Playfair Display', serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-family: 'Space Grotesk', sans-serif;

}
.button1:hover {
    background-color: #565e35;
    color: white;
}

.font-checkout{
    font-size: 20px;
}